.button {
  background: var(--color-blue-gray-50);
  border-radius: .3em;
  border: 0;
  box-shadow: 0 0 0 1px inset rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  color: var(--color-blue-gray-900);
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: .4em 1em;
  transition: background-color .1s ease-in-out;
}

.button:hover {
  background: var(--color-blue-gray-100);
}

.primary {
  color: var(--color-blue-gray-50);;
  background-color: var(--color-blue-500);
}

.primary:hover {
  background-color: var(--color-blue-600);
}

.secondary {
  color: var(--color-blue-gray-900);
  background-color: var(--color-blue-gray-200);
}

.secondary:hover {
  color: var(--color-blue-gray-900);
  background-color: var(--color-blue-gray-300);
}

.warning {
  color: var(--color-blue-gray-50);
  background-color: var(--color-amber-500);
}

.warning:hover {
  background-color: var(--color-amber-600);
}

.success {
  color: var(--color-blue-gray-50);
  background-color: var(--color-green-500);
}

.success:hover {
  background-color: var(--color-green-600);
}

.danger {
  color: var(--color-blue-gray-50);
  background-color: var(--color-red-500);
}

.danger:hover {
  background-color: var(--color-red-600);
}

.small {
  padding: .3em .8em;
}

.large {
  padding: .6em 1.5em;
}
