html,
body {
  padding: 0;
  margin: 0;
  font: var(--type-style-default);
  color: var(--color-blue-gray-900);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 48px;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  --shadow-md: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
  --shadow-xl: 0 3px 8px 2px rgba(0, 0, 0, 0.4);

  --type-style-default: 400 16px sans-serif;
  --type-style-primary: 400 2.5em sans-serif;
  --type-style-secondary: 400 1.5em sans-serif;
  --type-style-tertiary: 400 1.3em sans-serif;
  --type-style-general-label: 400 1.1em sans-serif;
  --type-style-secondary-label: 700 1.1em sans-serif;

  --color-blue-gray-50: #F8FAFC;
  --color-blue-gray-100: #F1F5F9;
  --color-blue-gray-200: #E2E8F0;
  --color-blue-gray-300: #CBD5E1;
  --color-blue-gray-400: #94A3B8;
  --color-blue-gray-500: #64748B;
  --color-blue-gray-600: #475569;
  --color-blue-gray-700: #334155;
  --color-blue-gray-800: #1E293B;
  --color-blue-gray-900: #0F172A;

  --color-blue-50: #EFF6FF;
  --color-blue-100: #DBEAFE;
  --color-blue-200: #BFDBFE;
  --color-blue-300: #93C5FD;
  --color-blue-400: #60A5FA;
  --color-blue-500: #3B82F6;
  --color-blue-600: #2563EB;
  --color-blue-700: #1D4ED8;
  --color-blue-800: #1E40AF;
  --color-blue-900: #1E3A8A;

  --color-amber-50: #FFFBEB;
  --color-amber-100: #FEF3C7;
  --color-amber-200: #FDE68A;
  --color-amber-300: #FCD34D;
  --color-amber-400: #FBBF24;
  --color-amber-500: #F59E0B;
  --color-amber-600: #D97706;
  --color-amber-700: #B45309;
  --color-amber-800: #92400E;
  --color-amber-900: #78350F;

  --color-green-50: #F0FDF4;
  --color-green-100: #DCFCE7;
  --color-green-200: #BBF7D0;
  --color-green-300: #86EFAC;
  --color-green-400: #4ADE80;
  --color-green-500: #22C55E;
  --color-green-600: #16A34A;
  --color-green-700: #15803D;
  --color-green-800: #166534;
  --color-green-900: #14532D;

  --color-red-50: #FEF2F2;
  --color-red-100: #FEE2E2;
  --color-red-200: #FECACA;
  --color-red-300: #FCA5A5;
  --color-red-400: #F87171;
  --color-red-500: #EF4444;
  --color-red-600: #DC2626;
  --color-red-700: #B91C1C;
  --color-red-800: #991B1B;
  --color-red-900: #7F1D1D;
}
