.alert {
  background: var(--color-blue-gray-50);
  box-shadow: 0 0 0 1px inset var(--color-blue-gray-300);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 1em;
}

.primary {
  background: var(--color-blue-50);
  box-shadow: 0 0 0 1px inset var(--color-blue-300);
  color: var(--color-blue-600);
}

.secondary {
  background: var(--color-blue-gray-50);
  box-shadow: 0 0 0 1px inset var(--color-blue-gray-300);
  color: var(--color-blue-gray-600);
}

.warning {
  background: var(--color-amber-50);
  box-shadow: 0 0 0 1px inset var(--color-amber-300);
  color: var(--color-amber-600);
}

.success {
  background: var(--color-green-50);
  box-shadow: 0 0 0 1px inset var(--color-green-300);
  color: var(--color-green-600);
}

.danger {
  background: var(--color-red-50);
  box-shadow: 0 0 0 1px inset var(--color-red-300);
  color: var(--color-red-600);
}
