.wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.name {
  display: inline-block;
  font: var(--type-style-secondary);
  margin: 6px 0 6px 10px;
  vertical-align: middle;
}

.signup {
  margin-left: 10px;
}
