.content {
  padding: var(--spacing-6) var(--spacing-2);
  margin: 0 auto;
  max-width: 600px;
  font: var(--type-style)
}

.subtitle {
  font: var(--type-style-primary);
  margin: 0 0 var(--spacing-1);
  display: inline-block;
  vertical-align: top;
}

.pageAlert {
  margin: var(--spacing-4) 0;
}
